<ion-content [fullscreen]="true" style="background-color: black;">
  
  <div class="hero" slot="fixed">

    <ion-img src="assets/afternoon.png" width="100%"></ion-img>

    <h1>Good Night, Tom</h1>
    <h4>20 January 2021</h4>
  </div>
  
  <ion-grid slot="fixed" style="width: 100%;background: black;font-size:medium;font-weight:bold">
    <ion-row>
      <ion-col size="5" style="text-align: right;">Request</ion-col>
      <ion-col size="2"></ion-col>
      <ion-col size="5">Summery</ion-col>
    </ion-row>
  </ion-grid>

  <div style="height: 220px;"></div>
  <ion-card>
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col size="9"><ion-card-title>5.00 p.m - 7.30 p.m.</ion-card-title></ion-col>
          <ion-col size="3">Pending</ion-col>
        </ion-row>
      </ion-grid>
      <ion-card-subtitle>20 December 2020</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur iste vel ipsa magnam quos perspiciatis praesentium nam dolore modi voluptas. Nisi saepe quos quasi eveniet? Necessitatibus facilis fugit ab aspernatur?
      <ion-grid>
        <ion-row>
          <ion-col size="4" style="text-align:right;color:dodgerblue;">Accept</ion-col>
          <ion-col size="4"></ion-col>
          <ion-col size="4" style="color:crimson;">Reject</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>January 2021</ion-card-title>
      <ion-grid>
        <ion-row>
          <ion-col size="6">Tom Cruse</ion-col>
          <ion-col size="6">Janne Irar</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-content>
    <ion-card-title style="font-size: x-large;">90 Hours</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="dark">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
